#top-nav{
    background:rgb(124, 100, 100) !important
   
}
#daholo{
    font-family: 'Lobster', cursive !important;
    font-size: 30px;
}
#eto{
    /* background-color: #39d46d !important; */
    background: linear-gradient(to right, #39d46d , rgba(0, 62, 87, 0));
  }
  